body {
    text-align: center;
}

p {
    display: inline-block;
}

main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 10px;
    width: 390px;
    margin: 0 auto;
}

.card {
    background-color:bisque;
    width: 80px;
    height: 80px;
}

img {
    display: block;
    width: 80px;
    height: 80px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}