body {
    text-align: center;
    background-color: #375a4a;
    color: bisque;
}

p {
    display: inline-block;
    margin: 10px 20px;
}

#game {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 10px;
    width: 350px;
    height: 350px;
    margin: 0 auto;
}

.card {
    background-color:bisque;
    width: 80px;
    height: 80px;
}

img {
    display: block;
    width: 80px;
    height: 80px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

button {
    margin-top: 15px;
    padding: 5px 20px;
    background-color: bisque;
}

#instruction h3 {
    margin-bottom: 10px;
}

#instruction p {
    line-height: 25px;
    padding: 0 10%;
}

@media (min-width: 700px) {
    main {
        display: grid;
        grid-template-columns: 3fr 2fr;
    }

    #instruction p {
        padding: 0;
    }
}